<!DOCTYPE html>
<html>
<head>
<style>
h1 {
	color: white;
	text-align: left;
	font-size: 40px;
	font-family: Verdana;
	font-weight: bold;
}
body {
  margin-left: 200px;
  background: lightgreen;
	font-family: sans-serif;
	font-size: 20px
}
</style>
</head>
	 <head>
			<title>
				Who's Your Favorite?
			</title>
	 </head>
<body>
	<h1>Welcome!</h1>
		<p>Please enter the folowing information:</p>
		<form method = "post" action = "/login">
  		Name:<br>
  		<input type="text" name="fullname"><br>
  		Age:<br>
  		<input type="text" name="age"><br>
  		Favorite Software Design Ninja:<br>
  		<input type="text" name="ninja"><br><br>
  		<input type="submit" value="Submit">
		</form>

</body>
</html>
