<!DOCTYPE html>
<html>
<head>
<style>
body {
  margin-left: 200px;
  background: lightblue;
}
.center.div {
  border: 2px solid gray;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: white;
  text-align: left;
  padding: 8px;
}
</style>
</head>

  <head>
      <title>
         Software Design Survey Results
      </title>
   </head>
<body>
   <h1>Survey Profile</h1>
   <p> Name: {{name}} </p>
   <p> Age: {{age}} </p>
   <p> Favorite Ninja: </p>
   {{ninja}}

</body>
</html>
